# deps
node_modules/

# Next.js
.next/
out/

# env
.env.local
.env*.local

# data (velký soubor)
data/

# Python
__pycache__/
*.pyc
.venv/
scripts/__pycache__/
scripts/.venv/

# Build artifacts
tsconfig.tsbuildinfo

.vercel

# PhpStorm
.idea

